*{
    margin: 0;
    padding: 0;
}
body{
    
    font-family: 'Questrial', sans-serif;
}
.header-section{
    height: 600px;
    background-image: url("images/header-bg.png");
    background-size: cover;
    background-position: center;
}
.half-section{
    width:40%;
    margin-left: 5%;
    float: left;
    padding-left: 2%;
    margin-top: 5%;
}
.half-section h1{
    font-size: 60px;
    color: rgb(252, 134, 154);
    font-weight: bold;
    margin-top: 10px;
}
h2{
    font-size: 40px;
    margin: 5% 0%;
}
.header-div{
    margin-top: 10%;
    margin-left: 10%;
}
.half-section img{
    width: 100%;
}
a{
    text-decoration: none;
    background-image: linear-gradient(90deg, rgb(252, 130, 151),rgb(255, 88, 116));
    padding: 10px 20px;
    border-radius: 5px;
    color: white;
    margin-top: 10px;
}
p{
    color: dimgray;
    margin: 30px 0px;
    line-height: 20px;
    font-size: 16px;
}
.bio-section{
    height: 600px;
    background-image: url("images/biography-bg.png");
    background-size: cover;
    background-position: center;
}
.work-section{
    height: 600px;
    background-image: url("images/latest-work-bg.png");
    background-size: cover;
    background-position: center;
}
.work-section h2{
    text-align: center;
    /* margin: 5%; */
}
.work-div{
    margin-top: 5%;
}
.lat-work-div{
    margin-left: 5%;
    padding-left: 2%;
    float: left;
    width: 25%;
    box-shadow: 20px 20px 30px gray;
}
.work-div img{
    width: 100%;
}
.footer-section{
    height: 600px;
    background-image: url("images/footer-bg.png");
    background-size: cover;
    background-position: center;
    text-align: center;
}
h3{
    font-size: 25px;
}
.qoute{
    font-size: 20px;
    font-weight: bold;
    color: black;
    margin: 20px 50px;
    line-height: 25px;
}
.footer-section-div{
    text-align: center;
    color: white;
    padding:2% 10% ;
    margin: 10% 25%;
    background-image: linear-gradient(90deg, rgb(252, 130, 151),rgb(255, 88, 116));
    border-radius: 5px;

}
.footer-section-div p{
    color: white;
    margin: 5px;
}
.footer-section-div a{
    font-size: 30px;
    background-image: none;
}
footer{
    text-align: center;
}